# NextAuth
AUTH_SECRET=FwWB5av0htgfvJDXwUk6QkS3QeIOfRcl0S13Vokqsv8=
NEXTAUTH_URL=http://localhost:3000

# GitHub OAuth
GITHUB_ID=Ov23liU17Z8qHKxkB04U
GITHUB_SECRET=0ee6977edb8e78edf66a86c20ad3c8f73f708c99

# Supabase PostgreSQL
DATABASE_URL=postgresql://postgres.pseorbpkahnehlytvioi:%24minbae0314%21@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres
DIRECT_URL=postgresql://postgres.pseorbpkahnehlytvioi:%24minbae0314%21@aws-1-ap-southeast-1.pooler.supabase.com:6543/postgres
# Socket.IO 서버
NEXT_PUBLIC_SOCKET_URL=http://localhost:3001
